$youxiaokuang:1200px;
$yibanhei:#333;

@mixin jichu{
    width: $youxiaokuang;
    margin: 0 auto;
    
}


#share{
    @include jichu;
    height: 86px;
    box-sizing: border-box;
    padding-left: 20px;
    a{
        display: block;
        width: 250px;
        height: 86px;
        margin-right: 60px;
        background: url(../img/share.jpg) no-repeat;
        float: left;
    }
}
#share .shareBtn{
    
}

#share .newBtn{
    background-position-x:-250px ;
}

#share .newGift{
    background-position-x:-745px ;
    
}

#share .invitate{
    margin: 0;
    background-position-x:-985px ;
    
}


//最新
#zuixin{
    @include jichu;
    margin-bottom: 20px;
}
.common{
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    color: #030303;
    letter-spacing: 4px;
}
.common span{
    position: relative;
}
.common span:before{
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background: #b4b4b4;
    position: absolute;
    left: -86px;
    top: 20px;
}
.common span:after{
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background: #b4b4b4;
    position: absolute;
    right: -80px;
    top: 20px;
}

.huo{
    overflow: hidden;
}
.huo li{
    float: left;
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
}
.huo a{
    
}
.huo p{
    position: absolute;
    width: 600px;
    height: 80px;
    left: 0;
    top: 50%;
    margin-top: -40px;
    
}
.huo p img{
    margin: 0 auto;
}
.picScral{
    transition: all 1s;
}
.picScral:hover{
    transform: scale(1.1);
}
//jianhuo
#jianhuo{
    @include jichu;
}
.jianhuoUl{
    width: 100%;
    height: 580px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 44px;
    li{
        flex: 1;
        a{
            
            img{
                opacity: 1;
                transition: all 1s; 
                &:hover{
                    opacity: 0.8;
                }
                
            }
        }
    }
}
#jianhuoUl3{
    margin-bottom: 24px;
}

//rejian
#rejian{
     @include jichu;
}
#rejianUl li{
    margin-bottom: 40px;
}


//topicmore
#topicmore{
    @include jichu;
    margin-bottom: 40px;
    a{
        display: block;
    }
}
#topicmore img{
    margin: 0 auto;
}

//豪车入口
#auto{
   @include jichu; 
   margin-bottom: 28px;
   img{
       transition: all 1s;
       &:hover{
           opacity: .8;
       } 
   }
}


//好货入口
#haohuo{
    @include jichu;
}
#haohuoUl{
    display: flex;
    width: 1200px;
    height: 2022px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    li{
        width: 287px;
        box-sizing: border-box;
        height: 490px;
        a{
           display: block;
           width: 100%;
           height: 100%; 
           position: relative;
           p{
               position: absolute;
               width: 285px;
               height:488px;
               top:0;
               left:0;
               border: 1px solid #efefef;
               &:hover{
                   border: 1px solid #d5d5d5;
               }
               
           } 
        }
    }
}


//haohuo_more
#haohuo_more
{  @include jichu;
    margin-top: 40px;
    margin-bottom: 20px;
    h6{
        margin: 0 auto;
        width: 158px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid #d3d3d3;
        line-height: 33px;
        font-size: 14px;
        text-align: center;
        color: #252525;
        border-radius: 16px;
        letter-spacing: 2px;
    }
}


/*-------------------------------login---------------------------*/
#login_header{
    @include jichu;
    height: 60px;
    h1{
        float: left;
        width: 194px;
        height: 30px;
        position: relative;
        margin: 15px auto;
        a{
            position: absolute;
            z-index: 1;
            display: block;
            width: 194px;
            height: 30px;
            top: 0;
            left: 0;
        }
    }
}

//login_page
#login_page{
    border-top:1px solid #e5e5e5;
    background:#f7f2ec;
    margin-bottom: 20px;
    #login_page_bgColor{
        position: relative;
        width: 100%;
        height: 700px;
        width: 1200px;
        margin: 0 auto;
        #login_page_bg{
           background: url(../img/login_bg.jpg) no-repeat center ; 
           width: 100%;
           height: 100%;
        }
    }
}
#login_box{
    background: white;
    width: 420px;
    height: 560px;
    position: absolute;
    z-index: 10;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 20px #c8c8c8;
    top: 70px;
    right: 0px;
}
.login_tab{
    height: 52px;
    background: #f7f7f9;
    li{
        width: 50%;
        float: left;
        a{
            display: block;
            width: 100%;
            line-height: 50px;
            height: 50px;
            font-size: 17px;
            color: #afafaf;
            text-align: center;
            &:hover,&.hover{
                color: #464646;
                border-bottom: 2px solid #464646;
            }
        }
    }
}
#login_duanxin,#login_duanxinL{
    box-sizing: border-box;
    width: 100%;
    padding: 0 60px;
}
#phone,#phoneL{
    box-sizing: border-box;
    width: 300px;
    font-size: 12px;
    color: #afafaf;
    text-indent: 10px;
    height: 36px;
    border: 1px solid #d8d8d8;
}
.phone_kuang,.yanzheng_kuang{
    box-sizing: border-box;
    font-size: 12px;
    color: #afafaf;
    position: relative;
    > span{
        display: none;
        position: absolute;
        background: white;
        top: -6px;
        left: 20px;
        padding-right: 5px;
        text-indent: 5px;
    }
}

#tishi,#tishiY,#tishiL{
    display: none;
    line-height: 12px;
    color: #d3041f;
    font-size: 12px;
    position: relative;
    height: 12px;
    b{
        width: 12px;
        height: 12px;
        background: url(../img/login_sprite.png) no-repeat -200px 0;
        position: absolute;
        left: 0;
        top: 0;
    }
    
}
#shoujihaoyanzheng,#shoujihaoyanzhengY,#shoujihaoyanzhengL{
    color: #d2041f;
    line-height: 12px;
    font-size: 12px;
    padding: 0 40px 0 20px;
}

#yanzhnegma,#yanzhnegmaL{
    width: 187px;
    height: 36px;
    box-sizing: border-box;
    font-size: 12px;
    color: #afafaf;
    text-indent: 10px;
    height: 36px;
    border: 1px solid #d8d8d8;
}
#yanzhnegmaL{
    width: 300px;
}
#getyanzhengma{
    width: 103px;
    height: 36px;
    box-sizing: border-box;
    font-size: 12px;
    color: #afafaf;
    text-indent: 10px;
    height: 36px;
    border: 1px solid #d8d8d8;
    background: #f7f7f9;
    float: right;
    cursor: pointer;
    color: #333;
}
#findMima{
    margin: 25px 0;
    float: right;
    font-size: 12px;
    color: #333;
    width: 300px;
    text-align: right;
}
#dengluBtn{
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 17px;
    background: #d2041f;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.zi{
    width: 300px;
    height: 35px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    span{
        position: absolute;
        background: white;
        left: 95px;
        padding: 0 12px;
        bottom: -6px;
        font-size: 12px;
        line-height: 12px;
    }
}

.hezuo{
    width: 270px;
    height: 30px;
    margin: 0 auto;
    margin-top: 25px;
    li{
        float: left;
        width: 30px;
        height: 30px;
        margin: 0 30px 0 0 ;
        overflow: hidden;
        a{
            
            display: block;
            width: 30px;
            height: 30px;
            background: url(../img/login_sprite.png) no-repeat;
            
        }
        &:nth-child(2) a{
            background-position: -30px 0;
        }
        &:nth-child(3) a{
            background-position: -60px 0;
        }
        &:nth-child(4) a{
            background-position: -90px 0;
        }
        &:nth-child(5) a{
            background-position: -120px 0;
        }
    }
}
.yonghuxieyi{
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
}


.saoma{
    width: 85px;
    height: 25px;
    position: absolute;
    right: 55px;
    bottom: 12px;
    background: url(../img/login_sprite.png) no-repeat 0 -360px;
}
.erweima{
    background: url(../img/login_sprite.png) no-repeat 0 -400px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.zhaomima{
    margin: 25px 0;
    font-size: 12px;
    color: #333;
    width: 300px;
    text-align: right;
    float: right;
    a{
        color: #333;
        &:hover{
            text-decoration: blink;
        }
    }
    span{
        margin: 0 4px;
    }
}
#zhuce:hover{
    cursor: help;
    
}


/*--------------------------------------list-------------------------*/
#list_tu{
    margin: 10px auto 0;
    width: 1000px;
}

#list_weizhi{
    padding-left: 10px;
    height: 29px;
    line-height: 25px;
    position: relative;
    width: 990px;
    margin: 10px auto 0 auto;
    z-index: 2;
    clear: both;
    font-size: 12px;
    a{
        
        position: relative;
        border: 1px solid #FFFFFF;
        border-bottom: 0;
        text-decoration: none;
        padding: 0 16px 0 5px;
        display: inline-block;
        max-width: 9.25em;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
        overflow: hidden;
    }
}
#list_weizhi:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.hd{
    float: left;
    border: 1px solid #fff;
}
#weizhi{
    display: block;
    margin: 0;
    padding: 0;
}
.weizhili{
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    
}
#list_weizhi .weizhili:hover>a{
    border: 1px solid #eb7410;
    border-bottom: 0;
    background: white;
    z-index: 3;
}
#list_weizhi #weizhi .first:hover a{
    border: 1px solid #FFFFFF;
    border-bottom: 0;
}
.weizhili:hover .dropdown{
    display: block;
}
.weizhili>i{
        background: url(../img/jts.jpg) no-repeat;
        display: inline-block;
        width: 6px;
        height: 13px;
        vertical-align: top;
        overflow: hidden;
        margin: 7px 4px 0 4px;
    }
.weizhili>a{
    color: #00579d;
    em{
        display: inline-block;
        background: url(../img/xia.jpg) no-repeat;
        width: 7px;
        height: 4px;
        vertical-align: middle;
        margin-left: 3px;
        position: absolute;
        top: 12px;
        right: 6px;
        line-height: 4px;
    }
}
#list_weizhi .first>a{
    padding: 0 5px;
}

.totalcount{
    position: absolute;
    top: 0;
    right: 0;
    span{
        padding-right: 3px;
        padding-left: 3px;
        color: red;
    }
}
.icarr{
    display: block;
    width: 6px;
    height: 7px;
    background: url(../img/list2.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0;
    line-height: 0;
    font-size: 0;
    font-family: Arial;
}
.dropdown{
    margin: 0;
    display: none;
    position: absolute;
    z-index: 2;
    top: 25px;
    width: 350px;
    left: 0;
    border: 1px solid #eb7410;
    padding: 10px 10px 10px 5px;
    background: white;line-height: 20px;
}
.dropdown li{
    margin: 0;
    padding: 0 3px 0 5px;
    position: relative;
    display: inline-block;
    float: left;
    color: #6e6e6e;
}
.dropdown li a{
    display: block;
    text-align: center;
    color: #6e6e6e;
}


//list_con
#list_con{
    width: 1000px;
    margin: 10px auto;
    font-size: 12px;
    color: #404040;
    line-height: 1.5em;
}
#list_juti{
    width: 1000px;
}
#list_juti_up{
    width: 1000px;
    margin-bottom: 10px;
    
}
.listUl{
    padding-top: 10px;
    overflow: hidden;
}
.everyOne{
    float: left;
    width: 234px;
    height: 394px;
    display: inline;
    cursor: default;
    position: relative;
    vertical-align: bottom;
    overflow: hidden;
    border: 2px solid white;
    margin-right: 16px;
    margin-bottom: 15px;
}
.everyOne:hover{
    border: 2px solid #e7e7e7;
}
.everyOne:hover .count{
    bottom: -25px;
}
//.everyOne:hover .sold_size{
//  top: -113px;
//}
.everyOne ol{
    width: 234px;
    margin: 0 auto;
    position: relative;
}
.prc{
    width: 234px;
    height: 312px;
    overflow: hidden;
    position: relative;
}
.prcA{
    display: block;
    width: 234px;
    height: 312px;
    position: relative;
    img{
        width: 234px;
        height: 312px;
    }
}
.count{
    height: 25px;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    transition: all 1s;
}
.count p{
    border: 1px solid #d8d8d8;
    height: 23px;
    color: #e22222;
    background: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.count p span{
    padding-left: 14px;
}
.sold_size{
    width: 234px;
    opacity: 0.9;
    position: relative;
    top: 0;
    background: rgba(251,249,253,.9);
    border-bottom: 1px solid #e8e8e8;
    transition: all 1s; 
}
.sold_size_tip{
    color: #666;
    height: 14px;
    padding: 10px 0 0 10px;
}
.sold_sizeUl{
    padding: 10px 0 0 10px;
    height: 100%;
    overflow: hidden;
}
.size{
    cursor: pointer;
    border: 1px solid #a7a7a7;
    background: white;
    color: #333333;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 9px 10px 0;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    
}
.box{
    position: relative;
    background: #d9d9d9;
    color: #a4a4a4;
}
.line_through{
    text-decoration: line-through;
}
.tit{
    height: 36px;
    overflow: hidden;
    line-height: 18px;
    width: 224px;
    margin: 10px 0 0 10px;
    padding: 0;
}
.tit a{
    overflow: hidden;
    display: block;
    color: #666666;
    &:hover{
        color: #f26521;
    }
}
.price{
    overflow: hidden;
    margin: 8px 0 3px 10px;
}
.showPrice{
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 13px;
    color: #d80c18;
    background: url(../img/list2.png) no-repeat 2px -355px;
}
.prePrice{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    color: #a2a2a2;
    margin-left: 5px;
    padding-left: 10px;
    background: url(../img/list2.png) no-repeat 0 -376px;
    vertical-align: middle;
    text-decoration: line-through;
}
//backTop

#backTop{
    position: fixed;
    right: 30px;
    bottom: 180px;
    z-index: 1000;
}
#backTop a{
    display: block;
    line-height: 26px;
    color: #444;
    text-align: center;
//  border: 1px solid #e7e7e7;
}
.maun{
    width: 67px;
    background: white;
}
.closed{
    color: #f00;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 67px;
    height: 30px;
    line-height: 30px;
    background: white;
    border: 1px solid #ddd;
    &:hover{
        background: #df3c34;
        color: white;
    }
}
.service{
    background: url(../img/r_menu_bg.jpg) no-repeat;
    width: 69px;
    height: 56px;
}
.buy{
    background: url(../img/r_menu_bg.jpg) no-repeat left -56px;
    width: 69px;
    height: 56px;
    
}
#num{
    background: url(../img/circle.png) no-repeat ;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 4px;
    margin-left: 28px;
}
.tucao{
    background: url(../img/r_menu_bg.jpg) no-repeat left -112px;
    width: 69px;
    height: 56px;
    
}
.huidao{
    background: url(../img/r_menu_bg.jpg) no-repeat left -171px;
    width: 69px;
    height: 56px;
    
}
#backTop a:hover{
    background-position-x: -69px;
}
